/* #gameBoard { 
    display: grid;

    grid-template-columns: repeat(3, 200px);
    grid-gap: 20px;
    gap: 20px;

    
} */

.cards {
    margin: 40px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
}

.card {
   height: 100px;
   background: #111111;
   border: 5px solid #444444;
   cursor: pointer; 
}





/* div {
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid red;
  } */

/* .card {
    border: 30px black;
    /* background-image:url("Assets/images/1up.jpg"); */
    /* justify-content: center;
    gap: 30px;
    height: 175px;
    width: 125px;
    object-fit: contain; */
    /* max-width: 100%;
    max-width: 100%; */
/* } */ 

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}



body {
    background: radial-gradient(rgb(178, 11, 11), rgb(6, 163, 6))
}


/* flippedCard {
    
} */